<!doctype html>
<html>
  <head>
    <title>Home - wheather data page</title>
	      <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style1.css')}}">
  </head>
  <body>
  <img scr="/static/wheather_logo.png">
    <h1>Welcome to wheather data page</h1>
    <p><b>Options:</b></p>
	<p><a href="{{ url_for('upload') }}">Upload a dataset</a></p>
	<p><a href="{{ url_for('display') }}">Display the wheather data </a></p>
<p>	
2021-CSE5IPR (BE-2) - IoT Technology and Applications</br>
October 14 2021</br>
Freddy Mauricio Lemos 20664067</br>
20664067@students.latrobe.edu.au</br>
</p>
  </body>
</html>